[Desktop Entry]
Type=Application
Name=OpenLara
Comment=Classic Tomb Raider open-source engine
Exec=openlara
Icon=icon0
Terminal=false
Categories=Game;Action;Adventure
